#home {
  color: $white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: $black;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .hello {
      h1 {
        font-size: 24px;
        margin-top: 3px;
      }
      p {
        font-size: 20px;
      }
    }

    .user-icon {
      a {
        background-color: rgba(255, 255, 255, 0.5);
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        i {
          font-size: 16px;
        }
      }
    }
  }
}

#home ul {
  display: flex;
  flex-direction: column;
  gap: 15px;

  li {
    a {
      background-color: $grey;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 15px;
    }

    h2 {
      font-size: 18px;
      margin-bottom: 3px;
      color: $green;
    }
  }
}

.add-exercise {
  position: fixed;
  z-index: 2;
  bottom: 20px;
  right: 20px;
  background-color: $green;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  i {
    font-size: 28px;
    color: $black;
  }
}

.exercise-popup {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 3;
  color: $black;
  display: flex;
  align-items: center;

  form {
    background-color: $green;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;

    .titleclose {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-size: 18px;
      }

      div {
        background-color: rgba(255, 255, 255, 0.5);
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        i {
          font-size: 16px;
        }
      }
    }

    .inputcontainer {
      border: solid 2px black;
      border-width: 0px 0px 2px 0px;
      padding-bottom: 10px;
      margin: 0px;

      input {
        background: none;
        border: none;
        font-size: 20px;
        color: $black;
        padding: 0px;
        outline: none;
        margin: 0px;
      }

      input::placeholder {
        color: rgba(0, 0, 0, 0.5);
      }
    }

    button {
      background-color: $black;
      border: none;
      font-size: 16px;
      font-weight: bold;
      padding: 12px 32px;
      border-radius: 1000px;
      color: $white;
      align-self: center;
    }
  }
}
